.body__second{
    width: 100%;

    &--container{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 10rem 30rem 30rem 10rem;
        justify-items: center;
        grid-row-gap: 5rem;
    }

    &--heading__container{
        text-align: center;
        p{
            font-family: $primary-font-family;
            color: $secondary-color;
            font-size: 1.6rem;
            line-height: 1.2;
            margin-bottom: 1rem;
            font-weight: 500;
        }
        h1{
            font-family: $primary-font-family;
            color: $primary-color;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 5.6rem;
        }
    }

    &--primary__container{
        display: grid;
        grid-template-columns: 60rem 60rem;
        justify-items: center;
        align-items: center;
        margin-top: 3rem;
        
        .primary__container--image{
            width: 100%;
            text-align: center;
        }
          .primary__container--image img{
                border:.2rem solid #eee;
                border-radius: .8rem;
                width: 80%;
            }


            h3{
                font-family: $primary-font-family;
                color: $primary-color;
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 3rem;
            }
            ul{
                list-style: none;
                li{
                    font-family: $primary-font-family;
                    color: $ternary-color;
                    font-weight: 400;
                    line-height: 2.4rem;
                    font-size: 1.6rem;
                    margin-left: 1rem;
                    padding: 1rem;
                }
            }
    }

    &--secondary__container{
        display: grid;
        grid-template-columns: 60rem 60rem;
        justify-items: center;
        align-items: center;

            h3{
                font-family: $primary-font-family;
                color: $primary-color;
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 3rem;
            }
            ul{
                list-style: none;
                li{
                    font-family: $primary-font-family;
                    color: $ternary-color;
                    font-weight: 400;
                    line-height: 2.4rem;
                    font-size: 1.6rem;
                    margin-left: 1rem;
                    padding: 1rem;
                }
            }

        .secondary__container--image{
            width: 100%;
            text-align: center;
        }
        .secondary__container--image img{
                border:.2rem solid #eee;
                border-radius: .8rem;
                width: 80%;
            }
        
    }

    &--ternary__container{
        width: 100%;
        text-align: center;

        .btn-ternary{
            background: $btn-secondary-color;
            border: none;
        }
    }
}