.footer{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &--container{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 35rem 10rem;
        justify-items: center;
        align-items: center;
    }

    &--top{
        display: grid;
        grid-template-columns: repeat(5,25rem);

        ul{
            list-style: none;
            li{
                margin-bottom: 2rem;

                h3{
                    font-size: 2rem;
                    color: $primary-color;
                    font-family: $primary-font-family;
                    line-height: 1.5rem;
                    font-weight: 600;
                }

                a:link,
                a:visited{
                    text-decoration: none;
                    font-size: 1.4rem;
                    line-height: 1.5rem;
                    font-weight: 500;
                    color: $secondary-color;
                    font-family: $primary-font-family;
                    img{
                        width: 15.6rem;
                        height: 4.8rem;
                    }
                }

                a:active,
                a:hover{
                    color: $primary-color;
                    text-decoration: underline;
                }
            }
        }

    }

    &--bottom{
        display: grid;
        grid-template-columns: repeat(4,31rem);
        justify-items: center;
        align-items: center;
        border-top: .2rem solid #eee;

        p,a:link,a:visited{
                    margin-top: 1rem;
                    text-decoration: none;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-weight: 600;
                    color: $secondary-color;
                    font-family: $primary-font-family;

                    i{
                        color: #4267B2 !important;
                        padding: 1rem;
                        text-align: center;
                        font-size: 1.2rem;
                        width: 3rem;
                        height: 3rem;
                        margin-top: 1rem;
                        margin-right: 2rem;
                        border-radius: 50%;
                        background-color: #eee;
                    }
                }

        a:active,a:hover{
                    color: $primary-color;
                    text-decoration: underline;
                }
    }
}