.footer{
    width: 100vw;
    padding-top: 10rem;
    padding-bottom: 3rem;

    &--container{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr .3fr;
        grid-template-columns: repeat(5 , 1fr);
        grid-template-areas: 
            "fitem1 fitem2 fitem3 fitem4 fitem5"
            "fitem6 fitem7 fitem7 fitem8 fitem9"
        ;
        justify-items: center;
        // grid-row-gap: 15rem;

        @include respond(mobileL){
            width: 90%;
            display: grid;
            grid-template-rows:repeat(6,.3fr) .1fr .1fr .1fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "fitem1"
                "fitem2"
                "fitem3"
                "fitem4"
                "fitem5"
                "fitem6"
                "fitem8"
                "fitem9"
                "fitem7"
            ;
        }
    }

    &__item{
        
        &--1{
         grid-area: fitem1 ;
         @include respond(mobileL){
             border-bottom: .4rem solid #eee;
             width: 95%;
             margin-bottom: 15rem;
         }   
        }

        &--2{
            grid-area: fitem2 ;
            @include respond(mobileL){
                border-bottom: .4rem solid #eee;
                width: 95%;
                margin-bottom: 15rem;
            }   
        }

        &--3{
            grid-area: fitem3 ; 
            @include respond(mobileL){
                border-bottom: .4rem solid #eee;
                width: 95%;
                margin-bottom: 15rem;
            }  
        }

        &--4{
            grid-area: fitem4 ;
            @include respond(mobileL){
                border-bottom: .4rem solid #eee;
                width: 95%;
                margin-bottom: 15rem;
            }   
        }

        &--5{
            grid-area: fitem5 ;
            @include respond(mobileL){
                border-bottom: .4rem solid #eee;
                width: 95%;
                margin-bottom: 15rem;
            }   
        }

        &--6{
            grid-area: fitem6 ;
            text-align: center;
            width: 100%;
            border-top: .4rem solid #eee;
            
            @include respond(mobileL){
                padding-top: 5rem;
                text-align: left;
                width: 95%;
                border: none;
                margin-bottom: 15rem;
            }
        }

        &--7{
            grid-area: fitem7 ;
            padding-top: 1.6rem;
            text-align: center;
            width: 100%;   
            border-top: .4rem solid #eee;
            @include respond(mobileL){
                border: none;
                width: 95%;
            }

            @include respond(mobileS){
                color: #a3a3a3 !important;
            }
        }

        &--8{
            grid-area: fitem8 ; 
            padding-top: 1.6rem;
            text-align: center;
            width: 100%;  
            border-top: .4rem solid #eee;
            @include respond(mobileL){
                border:none;
                width: 95%;
                text-align: left;
            }
        }

        &--9{
            grid-area: fitem9 ;
            padding-top: 1.6rem;
            text-align: center;
            width: 100%;   
            border-top: .4rem solid #eee;
            @include respond(mobileL){
                border:none;
                width: 95%;
                text-align: left;
                margin-bottom:5rem ;
            }
        }

        p,
        a:link,
        a:visited{
            text-decoration: none;
            font-size: 1.4rem;
            line-height: 1.5rem;
            font-weight: 500;
            color: $secondary-color;
            font-family: $primary-font-family;

            @include respond(mobileL){
                font-size: 2.4rem;
            }

            @include respond(mobileS){
                font-size: 3rem;
                line-height: 6.5rem;
            }

            img{
                width: 15.6rem;
                height: 4.8rem;

                @include respond(mobileL){
                    width: 35.6rem;
                    height: 10.8rem;
                }
            }

            i{
                color: #4267B2 !important;
                padding: 1rem;
                text-align: center;
                font-size: 1.2rem;
                width: 3rem;
                height: 3rem;
                margin-top: 1rem;
                margin-right: 2rem;
                border-radius: 50%;
                background-color: #eee;

                @include respond(mobileL){
                    padding: 3rem;
                    width: 10rem;
                    height: 10rem;
                    font-size: 4rem;
                }

                @include respond(mobileS){
                    padding: 2rem;
                    width: 8rem;
                    height: 8rem;
                }
            }
        }

        a:active,
        a:hover{
            color: $primary-color;
            text-decoration: underline;
        }

        ul{
            list-style: none;
            li{
                margin-bottom: 2rem;

                h3{
                    font-size: 2rem;
                    color: $primary-color;
                    font-family: $primary-font-family;
                    line-height: 1.5rem;
                    font-weight: 600;

                    @include respond(mobileL){
                        font-size: 3rem;
                    }

                    @include respond(mobileS){
                        font-size: 4rem;
                        line-height: 8.5rem;
                    }
                }
            }
        }

    }

}