//color
$primary-color:#231741;
$btn-primary-color:#ff3d6b;
$btn-secondary-color:#5f6fbf;
$btn-secondary-hover-color:#0f0a1b;
$secondary-color:#666;
$ternary-color:#3a3a3a;



//fonts
$primary-font-family:'Poppins',sans-serif;
// font-family: 'Great Vibes', cursive;
// font-family: 'Neonderthaw', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'The Nautigal', cursive;